.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: filter 300ms;
}

.button:hover {
  filter: brightness(0.9);
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}
